[submodule "vundle"]
    path = nvim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git

[submodule "gruvbox"]
    path = nvim/bundle/gruvbox
    url = https://github.com/morhetz/gruvbox.git

[submodule "vim-airline"]
    path = nvim/bundle/vim-airline
    url = https://github.com/vim-airline/vim-airline.git

[submodule "vim-airline-theme"]
    path = nvim/bundle/vim-airline-themes
    url = https://github.com/vim-airline/vim-airline-themes.git

[submodule "nerdtree"]
    path = nvim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git

[submodule "nerdtree-tab"]
    path = nvim/bundle/vim-nerdtree-tabs
    url = https://github.com/jistr/vim-nerdtree-tabs.git

[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule "awesome-theme"]
    path = awesome
    url = https://github.com/copycat-killer/awesome-copycats.git

[submodule "powerline"]
    path = powerline
    url = https://github.com/powerline/powerline.git

[submodule "deoplete"]
    path = nvim/bundle/deoplete.nvim
    url = https://github.com/Shougo/deoplete.nvim.git

[submodule "UltiSnips"]
    path = nvim/bundle/UltiSnips
    url = https://github.com/SirVer/ultisnips.git

[submodule "polyglot"]
    path = nvim/bundle/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot.git

[submodule "XX-Net"]
    path = XX-Net
    url = https://github.com/XX-net/XX-Net.git
